@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.header {
    background-image: url(img/slider-img.jpg);
    width: 1366px;
    height: 800px;
    margin: 0 auto;
}


.logo {
    margin-left: 98px;
    margin-top: 67px;
    float: left;
}

.nav_bar {
    list-style-type: none;
    display: inline-block;
    margin-right: 9px;
    margin-top: 51px;
    float: right;
    width: 490px;
}

.nav_bar li {
    float: left;
}

.nav_bar li a {
    color: #8c8c8c;
    font-weight: 300;
    font-size: 14px;
    line-height: 48px;
    text-align: right;
    text-decoration: none;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;

}

.nav_bar li a:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.search {
    margin-top: 78px;
    margin-right: 167px;
    width: 27px;
    height: 27px;
    float: right;
}


.slider {
    margin-left: 98px;
    clear: both;
}


.slider_content h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.slider_content h1 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
}

.slider_content p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}


.slider input[type="button"] {
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    cursor: pointer;
    text-transform: uppercase;
}


.slider input[type="button"]:hover {
    background: #ffffff url(img/arrow.png) no-repeat 173px 16px;
}

.nav_button {
    background-color: gray;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
