@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

* {
    margin: 0;
    padding: 0;
}


img {
    border: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
    font-family: 'Montserrat';
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    color: #6c6c6c;
    position: relative;
}

.header {
    padding-top: 63px;
}

.sticky_menu {
    background-color: #ffffff;
    box-shadow: 0px 0px 11.76px 0.24px rgba(0, 0, 0, 0.25);
    height: 60px;
    padding-left: 98px;
    top: 0;
}

.slider {
    background-image: url(img/slider-img.jpg);
    height: 733px;
    padding-top: 67px;
    padding-left: 98px;
    margin-top: -63px;
    /*для наложения на padding header*/
}

.logo {
    margin-top: 20px;
    float: left;
}

.nav_bar {
    list-style-type: none;
    margin-right: 9px;
    margin-top: 7px;
    float: right;
}

.nav_bar li {
    float: left;
}

.nav_bar li a {
    display: inline;
    color: #8c8c8c;
    line-height: 48px;
    text-align: right;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding: 0px 14px 2px;
    font-weight: 700;
}

.nav_bar li a:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.search {
    font-size: 23px;
    margin-top: 22px;
    margin-right: 167px;
    float: right;
    text-decoration: none;
    color: black;
}

.slider .slider_content {
    padding-top: 317px;
}

.slider_content h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    clear: both;
}

.slider_content h1 {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 14px;
    clear: both;
}

.slider_content p {
    line-height: 24px;
    text-align: left;
    margin-bottom: 36px;
}

.order {
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    border-radius: 22px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #ffffff;
    width: 212px;
    height: 45px;
    text-decoration: none;
}

.order:hover {
    background: #ffffff url(img/arrow.png) no-repeat 173px 16px;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.nav_buttons {
    text-align: center;
    margin-top: 95px;
    margin-left: -98px;
}

.nav_button {
    background-color: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 6px;
}

.nav_button:hover {
    background-color: black;
    width: 40px;
    height: 40px;
    margin: 1px;
}

.item_list1 {
    margin-top: 110px;
}

.item_list1 > h2 {
    float: left;
    margin-left: 98px;
    display: inline;
}

.item_list1 > h2 a {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    margin-right: -95px;
    padding-right: 45px;
}

.item_list1 > h2 a:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.explore {
    float: right;
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
    margin-right: 102px;
    padding-right: 21px;
    display: block;
}


/*for item_list1 and item_list2 - button "explore us"*/

.explore:hover {
    background: #ffffff url(img/arrow.png) no-repeat 140px;
}


/*for item_list1 and item_list2 - button "explore us"*/

.items_small {
    clear: both;
    margin-left: 98px;
}

.items_small .item {
    border: 1px solid transparent;
    width: 268px;
    height: 268px;
    float: left;
    margin-left: 30px;
    margin-top: 51px;
    display: flex;
    flex-direction: column;
}

.items_small .item .hidden {
    opacity: 0;
    height: 100%;
}

.items_small .item:first-child {
    margin-left: 0px;
    background: url(img/product-1.jpg);
}

.items_small .item:nth-child(2) {
    background: url(img/product-2.jpg);
}

.items_small .item:nth-child(3) {
    background: url(img/product-3.jpg);
}

.items_small .item:nth-child(4) {
    background: url(img/product-4.jpg);
}

.items_small .item:hover {
    border: 1px solid #9c9c9c;
    width: 268px;
    height: 268px;
}

.items_small .item .hidden:hover {
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
}

.items_small .item .arrow1 {
    display: block;
    border-radius: 50%;
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    text-align: center;
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    margin-left: 111px;
    margin-top: 62px;
}

.items_small .item .arrow1:hover {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.items_small .item img {
    margin: 16px;
    width: 12px;
    height: 20px;
}

.items_small .item h3 {
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    transform: scaleX(1.0041);
    margin: 9px auto;
}

.items_small .item p {
    color: #6c6c6c;
    font-size: 13.94px;
    line-height: 22px;
    text-align: center;
    transform: scaleX(1.0041);
    padding-left: 16px;
    margin-right: 16px;
}

.items_big {
    clear: both;
}

.items_big .item {
    margin-top: 121px;
    float: left;
    width: 632px;
    height: 455px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding-left: 51px;
    padding-top: 228px;
}

.items_big .item:first-child {
    background-image: url(img/promo-img1.jpg);
}

.items_big .item:nth-child(2) {
    background-image: url(img/promo-img.jpg);
}

.items_big .item h3 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: -20px;
}

.items_big .item h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
}

.items_big .item p {
    font-size: 13.99px;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
    margin-bottom: 34px;
}

.item_list2 {
    margin-left: 98px;
    margin-right: 98px;
}

.item_list2 h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    float: left;
    margin-top: 119px;
    margin-bottom: 64px;
}

.item_list2 a.explore {
    margin-top: 137px;
    margin-right: 0px;
}

.item_list2 .images {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    width: 1170px;
}

.item_list2 .images img {
    width: 370px;
    height: 370px;
}

.item_list2 .images a img:hover {
    outline: 1px solid gray;
}

.slider2 {
    height: 800px;
    margin-top: 120px;
    background-image: url(img/slider.jpg)
}

.slider2 .slider_content {
    padding-top: 287px;
    padding-left: 99px;
}

.slider2 .slider_content h3 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.slider2 .nav_buttons {
    margin-top: 190px;
    margin-left: -8px;
}

.item_list3 {
    margin-left: 98px;
    margin-top: 120px;
    margin-right: 98px;
}

.item_list3 .item {
    background-image: url(img/product-1-lg.jpg);
    width: 570px;
    height: 570px;
    float: left;
    margin-bottom: 120px;
}

.item_list3 .item h3 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 173px;
    margin-left: 32px;
}

.item_list3 .item h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-left: 32px;
    margin-bottom: 24px;
}

.item_list3 .item p {
    font-size: 13.99px;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
    margin-bottom: 34px;
    margin-left: 32px;
}

.item_list3 .item .order {
    margin-left: 32px;
}

.item_list3 img {
    width: 270px;
    height: 270px;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}

.mobile_app {
    clear: both;
    background-image: url(img/back-img.jpg);
    height: 391px;
    padding-left: 99px;
    padding-top: 112px;
}

.mobile_app h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}

.mobile_app h1 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.mobile_app p {
    font-size: 22px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 38px;
}

.footer {
    background-color: #f7f7f7;
    height: 334px;
    padding-left: 99px;
    padding-top: 90px;
    width: 1267px;
}

.footer .contact_us {
    float: left;
    margin-right: 80px;
}

.footer .contact_us h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 22px;
}

.footer .contact_us p {
    color: #212121;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 231px;
    margin-bottom: 45px;
}

.footer .useful_info {
    float: left;
}

.footer .useful_info h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 22px;
}

.footer .useful_info ul {
    list-style-type: none;
    float: left;
    padding-left: 0px;
    margin-right: 93px;
}

.footer .useful_info ul li a {
    color: #212121;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.footer .in_touch {
    width: 372px;
    overflow: hidden;
}

.footer .in_touch h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.footer .in_touch p {
    color: #212121;
    line-height: 22px;
    text-align: left;
    overflow: hidden;
    margin-bottom: 26px;
}

.footer .in_touch input[type="email"] {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    border-width: 1px 0px 1px 1px;
    border-color: #d9dee1;
    border-style: solid;
    background-color: #ffffff;
    width: 298px;
    height: 46px;
    padding-left: 20px;
}

.footer .in_touch input[type="submit"] {
    background: url(img/submit.png) no-repeat 10px;
    width: 46px;
    height: 48px;
    cursor: pointer;
    border-width: 1px 1px 1px 0px;
    border-color: #d9dee1;
    border-style: solid;
    background-color: #ffffff;
    margin-top: 2.3px;
}

.footer .footer_bottom {
    clear: both;
    margin-top: 77px;
}

.footer .footer_bottom .copyright {
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    float: left;
    margin-top: 10px;
}

.footer .network_icons {
    width: 153px;
    height: 28px;
    float: left;
    margin-left: 170px;
    margin-top: 10px;
}

.network_icons a {
    color: gray;
    text-decoration: none;
    margin: -2px;
}

.network_icons a:hover {
    color: black;
}

.footer .footer_bottom .docs {
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: right;
    float: right;
    margin-right: 97px;
    margin-top: 10px;
}

.footer .footer_bottom .docs a {
    color: #6c6c6c;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: right;
    text-transform: uppercase;
}

.menu_item_details .logo {
    margin-left: 98px;
}

.menu_item_details + .nav_menu {
    background-color: #f4f4f4;
    width: 1366px;
    padding: 28px 0px;
    height: 14px;
    margin-top: 29px;
    float: left;
    text-align: center;
}

.nav_menu li {
    display: inline;
}

.nav_menu li a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 17.99px;
    font-weight: 700;
    transform: scaleY(1.0006);
    margin-right: 35px;
}

.nav_menu li a:hover {
    color: #212121;
}

.main {
    padding: 0px 98px;
    margin-top: 172px;
    margin-bottom: 120px;
}

.main .order_item {
    padding-top: 45px;
    display: flex;
    flex-direction: row;
}

.main .order_item .picture {
    margin-right: 61px;
}

.order_item .big_pic {
    width: 570px;
    height: 570px;
}

.order_item .small_pic {
    text-align: center;
}

.order_item .small_pic a img {
    width: 70px;
    height: 71px;
    margin: 10px;
}

.main .description {
    color: #212121;
    display: flex;
    flex-direction: column;
    margin-right: 34px;
    padding-top: 47px;
}

.description .price {
    font-size: 72px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    transform: scaleY(1.0005);
    padding: 20px 0px;
    margin-bottom: 15px;
}

.description .price span {
    font-size: 36px;
}

.description h3 {
    font-size: 35.98px;
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0005);
}

.description h4 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    transform: scaleY(1.0005);
}

.description p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0005);
    padding-bottom: 10px;
}

.description .order {
    background-color: #f44336;
    width: 510px;
    height: 71px;
    color: #ffffff;
    font-size: 21.99px;
    font-weight: 700;
    line-height: 3.1;
    transform: scaleY(1.0005);
    border-radius: 70px;
    margin-bottom: 49px;
}

.description .order:hover {
    background: #f44336 url(img/arrow_white.png) no-repeat 343px 22px;
}


.main a img:hover {
    outline: 1px solid gray;
}

.main .item_list {
    margin-top: 230px;
}


.main .item_list h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 71px;
    float: left;
}

.main .item_list .explore {
    margin-right: 0px;
}

.main .item_list .images {
    clear: both;
}

.main .item_list .images a {
    margin-left: 25px;
}

.main .item_list .images a:first-child {
    margin-left: 0px;
}


.catalog {
    padding-top: 65px;
}

.catalog > .items_big {
    clear: both;
    margin: 0px;
}

.catalog_header,
.contacts_header {
    background-color: #f5f5f5;
    margin-top: -60px;
    padding: 63px 0px 0px 98px;
}

.catalog_header .nav_bar + h1,
.contacts_header .nav_bar + h1 {
    color: #212121;
    clear: both;
    margin-top: 200px;
    padding-bottom: 44px;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
}

.catalog .nav_menu {
    font-size: 18px;
    float: left;
    margin-left: 98px;
}

.catalog .nav_menu a {
    padding-right: 35px;
    padding-bottom: 16px;
    margin-right: 5px;
}

.catalog .nav_menu a:hover {
    border-bottom: 3px solid #212121;
}

.catalog .item_pictures {
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    clear: both;
    padding: 51px 98px 71px;
}

.catalog .item_pictures a {
    width: 370px;
    height: 370px;
}


.catalog .item_pictures a:hover {
    outline: 0.5px solid gray;
}

.load_icon {
    width: 62px;
    padding: 30px;
    margin: 0 auto;
}

.catalog + .footer,
.contacts + .footer {
    clear: both;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 71px 98px 121px;
    font-size: 14px;
    font-weight: 700;
}


.contacts .block {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    width: 287px;
    height: 257px;
    padding: 48px 40px 63px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 30px;
}


.contacts .block:first-child {
    margin-left: 0px;
}

.contacts .block > span {
    margin-bottom: 34px;
}

.contacts .block h4 {
    color: #212121;
    font-size: 21.91px;
    line-height: 30px;
    transform: scaleX(1.0041);
    margin-bottom: 13px;
}

.contacts .block h5 {
    font-size: 14px;
    line-height: 20.082px;
}

.contacts .block p {
    color: #212121;
    line-height: 20.082px;
    margin-bottom: 8px;
}

.contacts .block p span {
    font-weight: 300;
    line-height: 20.082px;
    transform: scaleX(1.0041);
}
