@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.header {
    background-image: url(img/slider-img.jpg);
    width: 1366px;
    height: 800px;
}


.logo {
    margin-left: 98px;
    margin-top: 67px;
    margin-bottom: 262px;
    float: left;
}

.nav_bar {
    list-style-type: none;
    margin-right: 9px;
    margin-top: 53px;
    float: right;
}

.nav_bar li {
    float: left;

}

.nav_bar li a {
    display: inline;
    color: #8c8c8c;
    font-weight: 300;
    font-size: 14px;
    line-height: 48px;
    text-align: right;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding: 0px 14px 2px;

}

.nav_bar li a:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.search {
    margin-top: 67px;
    margin-right: 167px;
    width: 27px;
    height: 27px;
    float: right;
}


.slider {
    margin-left: 98px;
    clear: both;
}

.slider_content {
}

.slider_content h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    display: inline;
    clear: both;
}

.slider_content h1 {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
    padding: 0px;
    margin-top: -10px;
    margin-bottom: 0px;
    clear: both;
    

}

.slider_content p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 36px;
}

.slider input {
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
}

.slider input[type="button"] {
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    border-radius: 22px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.slider input[type="button"]:hover {
    background: #ffffff url(img/arrow.png) no-repeat 173px 16px;
}


.nav_buttons {
    text-align: center;
    margin-top: 140px;
}

.nav_button {
    background-color: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 6px;
}


.nav_button:hover {
    background-color: black;
    width: 40px;
    height: 40px;
    margin: 1px;
}
